<template>
	<div class="main-container">
		<VitePwaManifest />
		<clientOnly v-if="isInDevMode()">
			<NuxtLayout>
				<main class="container pb-3">
					<NuxtPage />
				</main>
			</NuxtLayout>
		</clientOnly>
		<NuxtLayout v-else>
			<main class="container pb-3">
				<NuxtLoadingIndicator />
				<NuxtPage />
			</main>
		</NuxtLayout>
	</div>
</template>

<script setup lang="ts">

useHead({
	meta: [
		{
			name: 'description',
			content: `Dans la programmation depuis 2015 et spécialiser en développement web depuis 2020, j'ai décidé de créer ce template afin de faciliter la création de site web`
		},
		{
			name: 'viewport',
			content: 'width=device-width, initial-scale=1.0'
		}
	],
});

useSeoMeta({
	ogTitle: 'Template de site web',
	ogDescription: 'Dans la programmation depuis 2015 et spécialiser en développement web depuis 2020, j\'ai décidé de créer ce template afin de faciliter la création de site web',
	viewport: 'width=device-width, initial-scale=1.0',
})

if (!useRouter().currentRoute.value.path.startsWith('/auth')) {
	useAlertStore().clear();
	const profileStore = useProfileStore();
	await profileStore.fetch();
}

</script>

<style scoped>

.container {
	padding-top: 20vh;
}

</style>
