<template>
	<div v-if="permission">
		<h3>
			<nav aria-label="breadcrump">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><nuxt-link to="/admin/permissions">Permissions</nuxt-link></li>
					<li class="breadcrumb-item active" aria-current="page">{{ permission.name }}</li>
				</ol>
			</nav>
		</h3>
		<ul class="nav nav-tabs">
			<li
				class="nav-item"
				v-for="page in pages"
			>
				<nuxt-link
					class="nav-link"
					:class="isPage(page.link) ? `active` : ''"
					:aria-current="isPage(page.link) ? `page` : ''"
					style="cursor: pointer;"
					:to="page.link"
				>{{ page.name }}</nuxt-link>
			</li>
		</ul>
	</div>
	<div class="mt-3">
		<nuxt-page v-if="permission" />
		<p v-else>Chargement...</p>
	</div>
</template>

<script setup lang="ts">
import { PermissionManager } from '~/class/Permission/Manager';
import type { Permission } from '~/class/Permission/Permission';
import { RoleManager } from '~/class/Role/Manager';
import { Role } from '~/class/Role/Role';

const id = useRoute().params.id as string;
const roleManager = RoleManager.getInstance();
const roles = ref<Role[]>([]);
const manager = PermissionManager.getInstance();
const permission = ref<Permission>();
const prefix = `/admin/view-permissions/${id}`
const pages = [
	{
		link: `${prefix}/roles`,
		name: 'Rôle',
	},
	{
		link: `${prefix}/users`,
		name: 'Utilisateurs',
	},
	{
		link: `${prefix}/edit`,
		name: 'Modifier',
	},
	{
		link: `${prefix}/delete`,
		name: 'Supprimer',
	},
]

onMounted(async () => {
	manager.fetchById(id)
	.then((response) => {
		permission.value = response;
	})
	.catch(() => {
		useRouter().push('/admin/permissions')
	})
	roles.value = await roleManager.fetch();
})

</script>