<template>
	<div v-if="role">
		<form @submit.prevent="_delete">
			<div class="alert alert-danger">
				<p>Êtes-vous sûr de vouloir supprimer le rôle <strong>{{ role.name }}</strong>
					<br>
					Le rôle sera supprimé des utilisateurs qui le possède ainsi que ses permissions</p>
			</div>
			<button class="btn btn-danger">Supprimer</button>
		</form>
	</div>
</template>

<script setup lang="ts">
import { RoleManager } from '~/class/Role/Manager';
import { Role } from '~/class/Role/Role';

const mananger = RoleManager.getInstance();
const role = ref<Role>(mananger.role!.clone());

async function _delete()
{
	await mananger.delete(role.value!.id)
	.then(() => {
		useRouter().push('/admin/roles');
	})
}

</script>