<template>
	<div v-if="role">
		<form @submit.prevent="_update">
			<div class="form-group mb-3">
				<label for="name">Nom</label>
				<input type="text" id="name" name="name" class="form-control" v-model="role.name">
			</div>
			<div class="form-group mb-3">
				<label for="title">Titre</label>
				<input type="text" id="title" name="title"class="form-control" v-model="role.title">
			</div>
			<div class="form-group mb-3">
				<label for="description">Description</label>
				<textarea name="description" class="form-control" v-model="role.description"></textarea>
			</div>
			<button class="btn btn-primary">Appliquer</button>
		</form>
	</div>
	<div v-else>
		<p>Le rôle n'existe pas</p>
	</div>
</template>

<script setup lang="ts">
import { RoleManager } from '~/class/Role/Manager';
import { Role } from '~/class/Role/Role';

const manager = RoleManager.getInstance();
const role = ref<Role>(manager.role!.clone());

async function _update() {
	if (!role.value)
		return;

	await manager.update(role.value.id, role.value);
}

</script>