<template>
	<table class="table table-striped table-hover" v-if="role">
		<thead>
			<tr>
				<th class="border-end">Permission</th>
				<th colspan="4" class="text-center">Actions</th>
			</tr>
			<tr>
				<th class="border-end"></th>
				<th>Créer</th>
				<th>Lire</th>
				<th>Modifier</th>
				<th>Supprimer</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="permission in permissions" :key="permission.id">
				<td class="border-end">{{ permission.name }}</td>
				<td>
					<input
						type="checkbox"
						:checked="role.hasPermission(permission as Permission, PermissionLevel.CREATE)"
						class="form-check-input"
						@change="role.togglePermission(permission as Permission, PermissionLevel.CREATE)"
					>
				</td>
				<td>
					<input
						type="checkbox"
						:checked="role.hasPermission(permission as Permission, PermissionLevel.READ)"
						class="form-check-input"
						@change="role.togglePermission(permission as Permission, PermissionLevel.READ)"
					>
				</td>
				<td>
					<input
						type="checkbox"
						:checked="role.hasPermission(permission as Permission, PermissionLevel.UPDATE)"
						class="form-check-input"
						@change="role.togglePermission(permission as Permission, PermissionLevel.UPDATE)"
					>
				</td>
				<td>
					<input
						type="checkbox"
						:checked="role.hasPermission(permission as Permission, PermissionLevel.DELETE)"
						class="form-check-input"
						@change="role.togglePermission(permission as Permission, PermissionLevel.DELETE)"
					>
				</td>
			</tr>
		</tbody>
	</table>
	<PlaceholderPermissionsRoles v-else />
	<Pagination :manager="permissionManager" :fetch="_fetch" />
</template>

<script setup lang="ts">
import { PermissionManager } from '~/class/Permission/Manager';
import { Permission } from '~/class/Permission/Permission';
import { RoleManager } from '~/class/Role/Manager';
import { Role } from '~/class/Role/Role';
import { PermissionLevel } from '~/types/permission';

const permissionManager = PermissionManager.getInstance();
const manager = RoleManager.getInstance();
const permissions = ref<Permission[]>([]);
const role = ref<Role>(manager.role!.clone());

Promise.all([
	permissionManager.fetch(),
	manager.role!.fetchPermissions()
]).then(([_permissions, _permissionsRole]) => {
	permissions.value = _permissions;
	manager.role!.permissions = _permissionsRole;
});

async function _fetch(page: number) {
	await permissionManager.fetch(page);
}

</script>