<template>
	<table class="table table-striped table-hover" v-if="role">
		<thead>
			<tr>
				<th class="border-end">User</th>
				<th colspan="4" class="text-center">Possède le rôle</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="user in users" :key="user.id">
				<td class="border-end">{{ user.email }}</td>
				<td>
					<input
						type="checkbox"
						:checked="user.hasRole(role)"
						class="form-check-input"
						@change="user.toggleRole(role)"
					>
				</td>
			</tr>
		</tbody>
	</table>
	<PlaceholderRolesUsers v-else />
	<Pagination :manager="userManager" :fetch="_fetch" />
</template>

<script setup lang="ts">
import { RoleManager } from '~/class/Role/Manager';
import { Role } from '~/class/Role/Role';
import { UserManager } from '~/class/User/Manager';
import { User } from '~/class/User/User';

const userManager = UserManager.getInstance();
const users = ref<User[]>([]);
const manager = RoleManager.getInstance();
const role = ref<Role>();

Promise.all([
	userManager.fetchRoles(),
]).then(([_users]) => {
	users.value = _users;
});

onMounted(() => {
	role.value = manager.role;
});

async function _fetch(page: number) {
	await userManager.fetch(page);
}
</script>