<template>
	<div class="container card">
		<div class="card-body">
			<div class="row text-center mb-5">
				<div class="col-lg-8 mx-auto">
					<h1 class="display-4">Choisissez votre abonnement</h1>
					<p class="lead">Sélectionnez le plan qui vous convient le mieux</p>
				</div>
			</div>
			<div class="row text-center">
				<!-- Plan Standard -->
				<div class="col-lg-4">
					<div class="card card-pricing">
						<div class="card-body">
							<h5 class="card-title">Standard</h5>
							<h6 class="card-price">15€ <span class="period">/ mois</span></h6>
							<hr>
							<ul class="fa-ul">
								<li><span class="fa-li"><i class="fas fa-check"></i></span> Accès complet</li>
								<li><span class="fa-li"><i class="fas fa-check"></i></span> Support prioritaire</li>
								<li><span class="fa-li"><i class="fas fa-check"></i></span> Accès aux contenus premium</li>
							</ul>
							<nuxt-link :to="''" class="btn btn-primary mt-3">S'abonner</nuxt-link>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script setup lang="ts">

</script>