<template>
	<div class="alert" :class="`alert-${alert[result]}`">
		{{ result === STATUS.SUCCESS ? 'Paiement réussi' : 'Paiement annulé' }}
	</div>
</template>

<script setup lang="ts">

enum STATUS {
	SUCCESS,
	CANCELED
}

const alert = {
	[STATUS.SUCCESS]: 'success',
	[STATUS.CANCELED]: 'danger'
};

const result = ref(useRoute().query.result as string === 'success' ? STATUS.SUCCESS : STATUS.CANCELED);

</script>