<template>
	<div>
		<form @submit.prevent="_submit">
			<div class="form-group mb-3">
				<label for="name">Nom</label>
				<input type="text" id="name" name="name" class="form-control" v-model="permission.name">
			</div>
			<div class="form-group mb-3">
				<label for="title">Titre</label>
				<input type="text" id="title" name="title"class="form-control" v-model="permission.title">
			</div>
			<div class="form-group mb-3">
				<label for="description">Description</label>
				<textarea name="description" class="form-control" v-model="permission.description"></textarea>
			</div>
			<div class="form-group mb-3">
				<input type="checkbox" id="auto_redirect" class="form-check-input" v-model="auto_redirect" />
				<label for="auto_redirect" class="form-check-label">Accéder à la permission après la création</label>
			</div>
			<button class="btn btn-primary">Créer</button>
		</form>
	</div>
</template>

<script setup lang="ts">
import { PermissionManager } from '~/class/Permission/Manager';
import { DefaultCreatePermission, type tCreatePermission } from '~/types/permission';

const manager = PermissionManager.getInstance();
const permission = ref<tCreatePermission>({...DefaultCreatePermission});
const auto_redirect = ref<boolean>(false);

async function _submit() {
	const created = await manager.create(permission.value);
	permission.value = {...DefaultCreatePermission};

	if (auto_redirect.value)
		useRouter().push(`/admin/view-permissions/${created.id}/roles`);
}

</script>