<template>
	<table class="table" v-if="permissions?.length">
		<thead>
			<tr>
				<th>#</th>2381
				<th>Nom</th>
				<th>Titre</th>
				<th>Description</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(permission, index) in permissions">
				<td>{{ index + 1 }}</td>
				<td>{{ permission.name }}</td>
				<td>{{ permission.title }}</td>
				<td>{{ permission.description }}</td>
				<td>
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							...
						</button>
						<ul class="dropdown-menu">
							<li><nuxt-link class="dropdown-item" :to="`/admin/view-permissions/${permission.id}/roles`" style="cursor: pointer;">Rôles</nuxt-link></li>
							<li><nuxt-link class="dropdown-item" :to="`/admin/view-permissions/${permission.id}/users`" style="cursor: pointer;">Utilisateurs</nuxt-link></li>
							<li><nuxt-link class="dropdown-item bg-primary text-light" :to="`/admin/view-permissions/${permission.id}/edit`" style="cursor: pointer;">Modifier</nuxt-link></li>
							<li><nuxt-link class="dropdown-item bg-danger text-light" :to="`/admin/view-permissions/${permission.id}/delete`" style="cursor: pointer;">Supprimer</nuxt-link></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div v-else>
		<p>Aucune permission</p>
	</div>
	<Pagination :manager="manager" :fetch="_fetch" />
</template>

<script setup lang="ts">

import { PermissionManager } from '~/class/Permission/Manager';

const page = parseInt(useRouter().currentRoute.value.query.page as string || '1');
const manager = PermissionManager.getInstance();
const permissions = manager.permissions;

onMounted(async () => {
	await _fetch(page);
});

async function _fetch(page: number) {
	await manager.fetch(page);
}

</script>
