<template>
	<table class="table" v-if="users.length">
		<thead>
			<tr>
				<th>#</th>
				<th>Email</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(user, index) in users">
				<td>{{ index + 1 }}</td>
				<td>{{ user.email }}</td>
				<td>
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							...
						</button>
						<ul class="dropdown-menu">
							<li><nuxt-link class="dropdown-item" :to="`/admin/view-users/${user.id}/roles`" style="cursor: pointer;">Rôles</nuxt-link></li>
							<li><nuxt-link class="dropdown-item" :to="`/admin/view-users/${user.id}/permissions`" style="cursor: pointer;">Permissions</nuxt-link></li>
							<li><nuxt-link class="dropdown-item bg-primary text-light" :to="`/admin/view-users/${user.id}/edit`" style="cursor: pointer;">Modifier</nuxt-link></li>
							<li><nuxt-link class="dropdown-item bg-danger text-light" :to="`/admin/view-users/${user.id}/delete`" style="cursor: pointer;">Supprimer</nuxt-link></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div v-else>
		<p>Aucun utilisateur</p>
	</div>
	<pagination :manager="manager" :fetch="_fetch" />
</template>

<script setup lang="ts">

import { UserManager } from '~/class/User/Manager';
import type { User } from '~/class/User/User';

const manager = UserManager.getInstance();
const users = ref<User[]>(await manager.fetch());

async function _fetch(page: number) {
	await manager.fetch(page);
}

</script>
