<template>
		<table class="table" aria-hidden="true">
		<thead>
			<tr>
				<th class="border-end">Utilisateur</th>
				<th colspan="4" class="text-center">Actions</th>
			</tr>
			<tr>
				<th class="border-end"></th>
				<th>Créer</th>
				<th>Lire</th>
				<th>Modifier</th>
				<th>Supprimer</th>
			</tr>
		</thead>
		<tbody>
			<tr class="placeholder-glow">
				<td><span class="placeholder col-12"></span></td>
				<td><span class="placeholder col-12"></span></td>
				<td><span class="placeholder col-12"></span></td>
				<td><span class="placeholder col-12"></span></td>
				<td><span class="placeholder col-12"></span></td>
			</tr>
			<tr class="placeholder-glow">
				<td><span class="placeholder col-12"></span></td>
				<td><span class="placeholder col-12"></span></td>
				<td><span class="placeholder col-12"></span></td>
				<td><span class="placeholder col-12"></span></td>
				<td><span class="placeholder col-12"></span></td>
			</tr>
			<tr class="placeholder-glow">
				<td><span class="placeholder col-12"></span></td>
				<td><span class="placeholder col-12"></span></td>
				<td><span class="placeholder col-12"></span></td>
				<td><span class="placeholder col-12"></span></td>
				<td><span class="placeholder col-12"></span></td>
			</tr>
			<tr class="placeholder-glow">
				<td><span class="placeholder col-12"></span></td>
				<td><span class="placeholder col-12"></span></td>
				<td><span class="placeholder col-12"></span></td>
				<td><span class="placeholder col-12"></span></td>
				<td><span class="placeholder col-12"></span></td>
			</tr>
		</tbody>
	</table>
</template>