<template>
	<div class="card">
		<div class="card-body">
			<h1>Home</h1>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur maiores quam provident nesciunt repellendus facilis reiciendis aliquid, ducimus fugit, suscipit non architecto eos nihil dolorum eligendi? Odit libero cumque molestiae.</p>
			<div class="w-100 d-flex justify-content-between">
				<nuxt-link class="btn btn-primary" to="/auth/send-password">Connexion / Inscription</nuxt-link>
				<nuxt-link class="btn btn-primary" to="/auth/send-password">Connexion / Inscription</nuxt-link>
			</div>
		</div>
	</div>
</template>

<script setup lang="ts">
import { CurrentUser } from '~/class/CurrentUser';


const user = CurrentUser.getInstance().user

</script>