<template>
	<div v-if="user">
		<h3><nuxt-link to="/admin/users">Users</nuxt-link> / {{ user.email }}</h3>
		<ul class="nav nav-tabs">
			<li
				class="nav-item"
				v-for="page in pages"
			>
				<nuxt-link
					class="nav-link"
					:class="isPage(page.link) ? `active` : ''"
					:aria-current="isPage(page.link) ? `page` : ''"
					style="cursor: pointer;"
					:to="page.link"
				>{{ page.name }}</nuxt-link>
			</li>
		</ul>
	</div>
	<div class="mt-3">
		<nuxt-page v-if="user" />
		<p v-else>Chargement...</p>
	</div>
</template>

<script setup lang="ts">
import { UserManager } from '~/class/User/Manager';
import { User } from '~/class/User/User';

const id = useRoute().params.id as string;
const manager = UserManager.getInstance();
const user = ref<User>();
const prefix = `/admin/view-users/${id}`
const pages = [
	{
		link: `${prefix}/roles`,
		name: 'Rôles',
	},
	{
		link: `${prefix}/permissions`,
		name: 'Permissions',
	},
	{
		link: `${prefix}/edit`,
		name: 'Modifier',
	},
	{
		link: `${prefix}/delete`,
		name: 'Supprimer',
	},
]

onMounted(async () => {
	await manager.fetchById(id)
	.then((_: User) => {
		user.value = manager.user = _;
	})
	.catch(() => {
		useRouter().push('/admin/users')
	})
})

</script>