<template>
	<div class="card">
		<div class="card-body">
			<h3>Liste des sessions actives</h3>
			<p>Votre session actuelle n'est pas présente dans la liste</p>
			<div class="accordion" id="accordionExample" v-if="sessions.length">
				<div class="accordion-item" v-for="(session, index) in sessions">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="`#collapse-${index}`" aria-expanded="false" :aria-controls="`collapse-${index}`">
							{{ formatDate(session.createdAt) }} | {{ session.address }}
						</button>
					</h2>
					<div :id="`collapse-${index}`" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<ul>
								<li><strong>Date de création:</strong><br class="d-sm-none">&nbsp;{{ formatDate(session.createdAt) }}</li>
								<li><strong>Date de mise à jour:</strong><br class="d-sm-none">&nbsp;{{ formatDate(session.updatedAt) }}</li>
								<li><strong>Adresse IP:</strong><br class="d-sm-none">&nbsp;{{ session.address }}</li>
								<li><strong>Navigateur:</strong><br class="d-sm-none">&nbsp;{{ session.navigator }}</li>
								<li><strong>Plateforme:</strong><br class="d-sm-none">&nbsp;{{ session.platform }}</li>
								<li><strong>Appareil:</strong><br class="d-sm-none">&nbsp;{{ session.device }}</li>
							</ul>
							<div class="d-flex justify-content-end">
								<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-confirm" @click="refManager.session = session">Supprimer</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div v-else>
				<p><strong>Aucune session trouvée</strong></p>
			</div>
			<Pagination class="mt-3" :manager="manager" :fetch="manager.fetch" />
			<alert-confirm-remove
				v-if="refManager.session"
				title="Supprimer la session"
				:message="`Voulez-vous vraiment supprimer la session du ${formatDate(refManager.session!.createdAt)} ?`"
				:onConfirm="_delete"
			/>
		</div>
	</div>
</template>

<script lang="ts" setup>

import { SessionManager } from '~/class/Session/Manager';
const page = parseInt(useRouter().currentRoute.value.query.page as string || '1');

const manager = SessionManager.getInstance();
const refManager = ref(manager);
const sessions = manager.sessions;

onMounted(async () => {
	await manager.fetch(page);
});

async function _delete() {
	if (!manager.session) return;
	await manager.session.delete(); // TODO: handle error
}

</script>