<template>
	<div class="card">
		<div class="card-body">
			<h3>Paramètres du compte</h3>
			<p>Changer l'adresse email</p>
			<form @submit.prevent="store.password_sent ? store.validateEmail() : store.updateEmail()">
				<div class="mb-3">
					<label for="current-email" class="form-label">Email actuelle</label>
					<input type="email" class="form-control" id="current-email" aria-describedby="emailHelp" :value="store.profile.email" readonly>
				</div>
				<div class="mb-3">
					<label for="new-email" class="form-label">Nouvelle adresse</label>
					<input type="email" class="form-control" id="new-email" aria-describedby="emailHelp" v-model="store.email" required :readonly="store.password_sent" />
					<div id="emailHelp" class="form-text">Vous recevrez un code de confirmation.</div>
				</div>
				<div class="mb-3" v-if="store.password_sent">
					<label for="password" class="form-label">Code</label>
					<input type="text" class="form-control" id="password" v-model="store.password">
				</div>
				<div class="d-flex justify-content-between">
					<button type="submit" class="btn btn-primary">{{ store.password_sent ? 'Confirmer' : 'Recevoir un code' }}</button>
					<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-confirm">Supprimer</button>
				</div>
			</form>
			<alert-confirm-remove
				:title="`Supprimer le compte`"
				:message="`Voulez-vous vraiment supprimer votre compte ?`"
				:onConfirm="store.delete"
			/>
		</div>
	</div>
</template>

<script lang="ts" setup>

const store = useProfileStore();

</script>