<template>
	<div>
		<h1>Connexion / Inscription</h1>
		<form @submit.prevent="store.sendPassword()">
			<div class="mb-3">
				<label for="email" class="form-label">Adresse email</label>
				<input type="email" class="form-control" id="email" aria-describedby="emailHelp" tabindex="1" v-model="store.email" required />
				<div id="emailHelp" class="form-text">Nous vous créerons un compte si vous n'en avez pas</div>
			</div>
			<button type="submit" class="btn btn-primary">Recevoir un code</button>
		</form>
	</div>
</template>

<script lang="ts" setup>

const store = useAuthStore();

onMounted(() => {
	document.querySelector<HTMLInputElement>('#email')?.focus();
});

</script>