<template>
	<div>
		<h1>Connexion / Inscription</h1>
		<form @submit.prevent="store.validatePassword()">
			<div class="mb-3">
				<label for="email" class="form-label">Adresse email</label>
				<input type="email" class="form-control" id="email" aria-describedby="emailHelp" tabindex="1" :value="store.email" readonly />
				<div id="emailHelp" class="form-text">Nous vous créerons un compte si vous n'en avez pas</div>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Code de validation</label>
				<input type="text" class="form-control" id="password" tabindex="2" v-model="store.password" required />
			</div>
			<button type="submit" class="btn btn-primary me-3">Confirmer</button>
			<button type="button" class="btn btn-secondary" @click="store.logout()">Changer d'adresse</button>
		</form>
	</div>
</template>

<script lang="ts" setup>

const store = useAuthStore();

if (!store.isValidEmail())
	useRouter().push(`/auth/send-password${has_next_route() ? `?next=${get_next_route()}` : ''}`);

onMounted(() => {
	document.querySelector<HTMLInputElement>('#password')?.focus();
});

</script>