<template>
	<div>
		<form @submit.prevent="_submit">
			<div class="form-group mb-3">
				<label for="name">Nom</label>
				<input type="text" id="name" name="name" class="form-control" v-model="role.name">
			</div>
			<div class="form-group mb-3">
				<label for="title">Titre</label>
				<input type="text" id="title" name="title"class="form-control" v-model="role.title">
			</div>
			<div class="form-group mb-3">
				<label for="description">Description</label>
				<textarea name="description" class="form-control" v-model="role.description"></textarea>
			</div>
			<div class="form-group mb-3">
				<input type="checkbox" id="auto_redirect" class="form-check-input" v-model="auto_redirect" />
				<label for="auto_redirect" class="form-check-label">Accéder au rôle après la création</label>
			</div>
			<button class="btn btn-primary">Créer</button>
		</form>
	</div>
</template>

<script setup lang="ts">
import { RoleManager } from '~/class/Role/Manager';
import { DefaultCreateRole, type tCreateRole } from '~/types/role';

const manager = RoleManager.getInstance();
const role = ref<tCreateRole>({...DefaultCreateRole});
const auto_redirect = ref<boolean>(false);

async function _submit() {
	const created = await manager.create(role.value);
	role.value = {...DefaultCreateRole};

	if (auto_redirect.value)
		useRouter().push(`/admin/view-roles/${created.id}/permissions`);
}

</script>