<template>
	<table class="table" v-if="roles.length">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Titre</th>
				<th>Description</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(role, index) in roles">
				<td>{{ index + 1 }}</td>
				<td>{{ role.name }}</td>
				<td>{{ role.title }}</td>
				<td>{{ role.description }}</td>
				<td>
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							...
						</button>
						<ul class="dropdown-menu">
							<li><nuxt-link class="dropdown-item" :to="`/admin/view-roles/${role.id}/permissions`" style="cursor: pointer;">Permissions</nuxt-link></li>
							<li><nuxt-link class="dropdown-item" :to="`/admin/view-roles/${role.id}/users`" style="cursor: pointer;">Utilisateurs</nuxt-link></li>
							<li><nuxt-link class="dropdown-item bg-primary text-light" :to="`/admin/view-roles/${role.id}/edit`" style="cursor: pointer;">Modifier</nuxt-link></li>
							<li><nuxt-link class="dropdown-item bg-danger text-light" :to="`/admin/view-roles/${role.id}/delete`" style="cursor: pointer;">Supprimer</nuxt-link></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div v-else>
		<p>Aucune role</p>
	</div>
	<Pagination :manager="manager" :fetch="_fetch" />
</template>

<script setup lang="ts">

import { RoleManager } from '~/class/Role/Manager';

const page = parseInt(useRouter().currentRoute.value.query.page as string || '1');
const manager = RoleManager.getInstance();
const roles = manager.roles;

onMounted(async () => {
	await _fetch(page);
});

async function _fetch(page: number) {
	await manager.fetch(page);
}

</script>
