<template>
	<ClientOnly>
		<header>
			<nav class="navbar navbar-expand-lg bg-primary">
				<div class="container-fluid">
					<nuxt-link class="navbar-brand text-light" to="/">Accueil</nuxt-link>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<nuxt-link class="nav-link text-light" to="/admin">Administration</nuxt-link>
							</li>
							<li class="nav-item">
								<nuxt-link class="nav-link active text-light" aria-current="page" to="/admin/roles">Rôles</nuxt-link>
							</li>
							<li class="nav-item">
								<nuxt-link class="nav-link text-light" to="/admin/permissions">Permissions</nuxt-link>
							</li>
							<li class="nav-item">
								<nuxt-link class="nav-link text-light" to="/admin/users">Utilisateurs</nuxt-link>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<AlertContainer />
		</header>
		<div class="container">
			<slot />
		</div>
	</ClientOnly>
</template>