<template>
	<header>
		<Navbar />
		<AlertContainer />
	</header>
	<div id="main-content">
		<slot />
	</div>
	<Footer />
</template>

<script setup lang="ts">

const header = ref<HTMLElement | null>(null);
const main = ref<HTMLElement | null>(null);

onMounted(() => {
	header.value = document.querySelector('header');
	main.value = document.querySelector('#main-content');

	if (header.value && main.value) {
		const headerHeight = header.value.offsetHeight;
		main.value.style.height = `calc(100vh - ${headerHeight}px)`;
	}
});

</script>