<template>
	<footer class="bg-dark text-white text-center p-3">
		&copy; {{ new Date().getFullYear() }} - {{ useRuntimeConfig().public.APP_NAME }}
		<div class="d-flex justify-content-around">
			<ul style="list-style-type: none;">
				<li>Info développeur: {{ 'contact' }}</li>
			</ul>
		</div>
	</footer>
</template>
