<template>
	<div id="background">
		<div id="loading" :class="`${display ? 'fade-in' : 'fade-out'}`">
			<span class="spinner-border spinner-border-sm me-3" aria-hidden="true"></span>
			<span class="status" role="status">Loading...</span>
		</div>
	</div>
</template>

<script setup lang="ts">

const { display } = defineProps({
	display: {
		type: Boolean,
		default: true,
	}
});

</script>

<style scoped>

#background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	scale: 5;
}

@media screen and (max-width: 768px) {
	#background {
		scale: 2.5;
	}
}

@media screen and (max-width: 360px) {
	#background {
		scale: 1.5;
	}
}


</style>