<template>
	<nav class="navbar navbar-expand-lg bg-primary">
		<div class="container-fluid">
			<nuxt-link class="navbar-brand text-light" to="/">{{ useRuntimeConfig().public.APP_NAME }}</nuxt-link>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<nuxt-link class="nav-link text-light" aria-current="page" to="/">Accueil</nuxt-link>
					</li>
					<li class="nav-item dropdown" v-if="currentUser.isAuthenticated()">
						<a class="nav-link dropdown-toggle text-light" to="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Mon compte
						</a>
						<ul class="dropdown-menu">
							<li><nuxt-link class="dropdown-item" to="/account/settings">Paramètres</nuxt-link></li>
							<li><nuxt-link class="dropdown-item" to="/account/sessions">Sessions</nuxt-link></li>
							<li><hr class="dropdown-divider"></li>
							<li><button class="dropdown-item" @click="authStore.logout()">Se déconnecter</button></li>
						</ul>
					</li>
					<li class="nav-item" v-else>
						<nuxt-link class="nav-link text-light" aria-current="page" to="/auth/send-password">Connexion / Inscription</nuxt-link>
					</li>
					<li class="nav-item" v-if="currentUser.isAuthenticated()">
						<nuxt-link class="nav-link text-light" aria-current="page" to="/products">Produits</nuxt-link>
					</li>
					<li class="nav-item" v-if="currentUser.hasPermission('admin', PermissionLevel.READ)">
						<nuxt-link class="nav-link text-light" aria-current="page" to="/admin">Administration</nuxt-link>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</template>

<style scoped>
</style>

<script setup lang="ts">
import { CurrentUser } from '~/class/CurrentUser';
import { PermissionLevel } from '~/types/permission';


const authStore = useAuthStore();
const currentUser = CurrentUser.getInstance();

</script>
