<template>
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li class="page-item">
				<nuxt-link class="page-link" @click="setPage(1)" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</nuxt-link>
			</li>
			<li class="page-item" v-for="page in pages">
				<nuxt-link class="page-link" :class="`${page > manager.max_page.value ? 'disabled' : ''} ${manager.page.value === page ? 'active' : ''}`" @click="setPage(page)">{{ page }}</nuxt-link>
			</li>
			<li class="page-item">
				<nuxt-link class="page-link" @click="setPage(manager.max_page.value)" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</nuxt-link>
			</li>
		</ul>
	</nav>
</template>

<style scoped>

.page-item:not(:has(.disabled)) {
	cursor: pointer;
}

</style>

<script setup lang="ts">
import type { PropType } from 'vue';
import { BaseManager } from '~/class/Generic/Manager';

const { manager, page, fetch } = defineProps({
	manager: {
		type: Object as PropType<BaseManager<any, any>>,
		required: true,
	},
	page: {
		type: Number,
		required: false,
		default: 1,
	},
	fetch: {
		type: Function,
		required: true,
	}
});

const pages = ref<number[]>(new Array(5).fill(0));

async function setPage(page: number)
{
	manager.setPage(page);
	await fetch(page);
	const length = pages.value.length;
	let start = page - 2;

	if (start < 1)
		start = 1;
	else if (start + 3 >= manager.max_page.value)
		start = manager.max_page.value - length;

	pages.value = new Array(length).fill(0).map((_, index) => start + index);
}

onMounted(async () => {
	await setPage(page);
});

</script>