<template>
	<div v-if="user">
		<form @submit.prevent="_delete">
			<div class="alert alert-danger">
				<p>Êtes-vous sûr de vouloir supprimer l'utilisateur <strong>{{ user.email }}</strong>
					<br>
					Toutes ses informations seront supprimé
				</p>
			</div>
			<button class="btn btn-danger">Supprimer</button>
		</form>
	</div>
</template>

<script setup lang="ts">
import { UserManager } from '~/class/User/Manager';
import { User } from '~/class/User/User';

const mananger = UserManager.getInstance();
const user = ref<User>(mananger.user!);

async function _delete()
{
	await user.value.delete()
	.then(() => {
		useRouter().push('/admin/users');
	})
}

</script>