<template>
	<div v-if="user">
		<form @submit.prevent="user.update()">
			<div class="form-group mb-3">
				<label for="email">Email</label>
				<input type="text" id="email" name="email" class="form-control" v-model="user.email">
			</div>
			<button class="btn btn-primary">Appliquer</button>
		</form>
	</div>
</template>

<script setup lang="ts">
import { UserManager } from '~/class/User/Manager';
import { User } from '~/class/User/User';

const manager = UserManager.getInstance();
const user = ref<User>();

onMounted(() => {
	user.value = manager.user;
	
})

</script>