<template>
	<table class="table table-striped table-hover" v-if="role">
		<thead>
			<tr>
				<th class="border-end">Permission</th>
				<th colspan="4" class="text-center">Actions</th>
			</tr>
			<tr>
				<th class="border-end"></th>
				<th>Créer</th>
				<th>Lire</th>
				<th>Modifier</th>
				<th>Supprimer</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="permission in permissions" :key="permission.id">
				<td class="border-end">{{ permission.name }}</td>
				<td>
					<input
						type="checkbox"
						:checked="role.hasPermission(permission as Permission, PermissionLevel.CREATE)"
						class="form-check-input"
						@change="role.togglePermission(permission as Permission, PermissionLevel.CREATE)"
					>
				</td>
				<td>
					<input
						type="checkbox"
						:checked="role.hasPermission(permission as Permission, PermissionLevel.READ)"
						class="form-check-input"
						@change="role.togglePermission(permission as Permission, PermissionLevel.READ)"
					>
				</td>
				<td>
					<input
						type="checkbox"
						:checked="role.hasPermission(permission as Permission, PermissionLevel.UPDATE)"
						class="form-check-input"
						@change="role.togglePermission(permission as Permission, PermissionLevel.UPDATE)"
					>
				</td>
				<td>
					<input
						type="checkbox"
						:checked="role.hasPermission(permission as Permission, PermissionLevel.DELETE)"
						class="form-check-input"
						@change="role.togglePermission(permission as Permission, PermissionLevel.DELETE)"
					>
				</td>
			</tr>
		</tbody>
	</table>
	<PlaceholderPermissionsRoles v-else />
	<Pagination :manager="permissionManager" :fetch="_fetch" />
</template>

<script setup lang="ts">
import { PermissionManager } from '~/class/Permission/Manager';
import { Permission } from '~/class/Permission/Permission';
import { Role } from '~/class/Role/Role';
import { UserManager } from '~/class/User/Manager';
import { PermissionLevel } from '~/types/permission';

const manager = UserManager.getInstance();
const permissionManager = PermissionManager.getInstance();
const permissions = permissionManager.permissions;
const user = manager.user!;
const role = ref<Role>(await user.fetchRole());

async function _fetch(page: number) {
	await permissionManager.fetch(page);
}

onMounted(async () => {
	await role.value.fetchPermissions();
	permissions.value = await permissionManager.fetch();
});

</script>