<template>
	<table class="table table-striped table-hover" v-if="user">
		<thead>
			<tr>
				<th class="border-end">Rôle</th>
				<th colspan="4" class="text-center">Possède le rôle</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="role in roles" :key="role.id">
				<td class="border-end">{{ role.name }}</td>
				<td>
					<input
						type="checkbox"
						:checked="user.hasRole(role as Role)"
						class="form-check-input"
						@change="user.toggleRole(role as Role)"
					>
				</td>
			</tr>
		</tbody>
	</table>
	<PlaceholderRolesUsers v-else />
	<Pagination :manager="roleManager" :fetch="_fetch" />
</template>

<script setup lang="ts">
import { Role } from '~/class/Role/Role';
import { UserManager } from '~/class/User/Manager';
import { User } from '~/class/User/User';
import { RoleManager } from '~/class/Role/Manager';

const userManager = UserManager.getInstance();
const manager = UserManager.getInstance();
const user = ref<User>(manager.user!);
const roles = ref<Role[]>([]);
const roleManager = RoleManager.getInstance();

Promise.all([
	user.value.fetchRoles(),
	roleManager.fetch()
]).then(([_, _roles]) => {
	roles.value = _roles;
});

async function _fetch(page: number) {
	await userManager.fetch(page);
}

</script>