body, html, #__nuxt {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-image: url('/images/background.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fade-in {
	animation: fadeIn 1s;
	opacity: 1;
}

.fade-out {
	animation: fadeOut 1s;
	opacity: 0;
}
