<template>
	<div v-if="role">
		<h3><nuxt-link to="/admin/roles">Roles</nuxt-link> / {{ role.name }}</h3>
		<ul class="nav nav-tabs">
			<li
				class="nav-item"
				v-for="page in pages"
			>
				<nuxt-link
					class="nav-link"
					:class="isPage(page.link) ? `active` : ''"
					:aria-current="isPage(page.link) ? `page` : ''"
					style="cursor: pointer;"
					:to="page.link"
				>{{ page.name }}</nuxt-link>
			</li>
		</ul>
	</div>
	<div class="mt-3">
		<nuxt-page v-if="role" />
		<p v-else>Chargement...</p>
	</div>
</template>

<script setup lang="ts">
import { RoleManager } from '~/class/Role/Manager';
import { Role } from '~/class/Role/Role';

const id = useRoute().params.id as string;
const manager = RoleManager.getInstance();
const role = ref<Role>();
const prefix = `/admin/view-roles/${id}`
const pages = [
	{
		link: `${prefix}/permissions`,
		name: 'Permissions',
	},
	{
		link: `${prefix}/users`,
		name: 'Utilisateurs',
	},
	{
		link: `${prefix}/edit`,
		name: 'Modifier',
	},
	{
		link: `${prefix}/delete`,
		name: 'Supprimer',
	},
]

onMounted(async () => {
	await manager.fetchById(id)
	.then((_: Role) => {
		role.value = manager.role = _;
	})
	.catch(() => {
		useRouter().push('/admin/roles')
	})
})

</script>