<template>
	<h3>Action rapide</h3>
	<div class="d-flex flex-wrap">
		<div class="card m-3" style="width: 18rem;">
			<div class="card-body">
				<nuxt-link to="/admin/roles">Gérer les rôles</nuxt-link>
			</div>
		</div>
		<div class="card m-3" style="width: 18rem;">
			<div class="card-body">
				<nuxt-link to="/admin/permissions">Gérer les permissions</nuxt-link>
			</div>
		</div>
		<div class="card m-3" style="width: 18rem;">
			<div class="card-body">
				<nuxt-link to="/admin/users" class="disabled" disabled>Gérer les utilisateurs</nuxt-link>
			</div>
		</div>
	</div>
</template>