<template>
	<div>
		<h3>Permissions</h3>
		<ul class="nav nav-tabs">
			<li
				class="nav-item"
				v-for="page in pages"
			>
				<nuxt-link
					class="nav-link"
					:class="isPage(page.link) ? `active` : ''"
					:aria-current="isPage(page.link) ? `page` : ''"
					style="cursor: pointer;"
					:to="page.link"
				>{{ page.name }}</nuxt-link>
			</li>
		</ul>
		<div class="mt-3">
			<nuxt-page />
		</div>
	</div>
</template>


<script setup lang="ts">

const prefix = '/admin/permissions'

const pages = [
	{
		link: `${prefix}`,
		name: 'Liste',
	},
	{
		link: `${prefix}/create`,
		name: 'Créer',
	},
]

</script>