<template>
	<div v-if="permission">
		<form @submit.prevent="_delete">
			<div class="alert alert-danger">
				<p>Êtes-vous sûr de vouloir supprimer la permission <strong>{{ permission.name }}</strong>
					<br>
					La permission sera supprimé des rôles qui la possède ainsi que des utilisateurs</p>
			</div>
			<button class="btn btn-danger">Supprimer</button>
		</form>
	</div>
</template>

<script setup lang="ts">
import { PermissionManager } from '~/class/Permission/Manager';
import type { tPermission } from '~/types/permission';

const manager = PermissionManager.getInstance();
const permission = ref<tPermission>();

onMounted(() => {
	permission.value = Object.assign({}, manager.permission.toJSON());
});

async function _delete()
{
	if (!permission.value) return;

	await manager.delete(permission.value.id)
	.then(() => {
		useRouter().push('/admin/permissions');
	})
}

</script>