<template>
	<div v-if="permission">
		<form @submit.prevent="_update">
			<div class="form-group mb-3">
				<label for="name">Nom</label>
				<input type="text" id="name" name="name" class="form-control" v-model="permission.name">
			</div>
			<div class="form-group mb-3">
				<label for="title">Titre</label>
				<input type="text" id="title" name="title"class="form-control" v-model="permission.title">
			</div>
			<div class="form-group mb-3">
				<label for="description">Description</label>
				<textarea name="description" class="form-control" v-model="permission.description"></textarea>
			</div>
			<button class="btn btn-primary">Appliquer</button>
		</form>
	</div>
</template>

<script setup lang="ts">
import { PermissionManager } from '~/class/Permission/Manager';
import type { tPermission } from '~/types/permission';

const manager = PermissionManager.getInstance();
const permission = ref<tPermission>();

onMounted(() => {
	permission.value = Object.assign({}, manager.permission?.toJSON());
});

async function _update() {
	if (!permission.value)
		return;

	await manager.update(permission.value.id, permission.value);
}

</script>