<template>
	<table class="table table-striped table-hover" v-if="permission">
		<thead>
			<tr>
				<th class="border-end">Rôle</th>
				<th colspan="4" class="text-center">Actions</th>
			</tr>
			<tr>
				<th class="border-end"></th>
				<th>Créer</th>
				<th>Lire</th>
				<th>Modifier</th>
				<th>Supprimer</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="role in roles" :key="role.id">
				<td class="border-end">{{ role.name }}</td>
				<td>
					<input
						type="checkbox"
						:checked="role.hasPermission(permission, PermissionLevel.CREATE)"
						class="form-check-input"
						@change="role.togglePermission(permission, PermissionLevel.CREATE)"
					>
				</td>
				<td>
					<input
						type="checkbox"
						:checked="role.hasPermission(permission, PermissionLevel.READ)"
						class="form-check-input"
						@change="role.togglePermission(permission, PermissionLevel.READ)"
					>
				</td>
				<td>
					<input
						type="checkbox"
						:checked="role.hasPermission(permission, PermissionLevel.UPDATE)"
						class="form-check-input"
						@change="role.togglePermission(permission, PermissionLevel.UPDATE)"
					>
				</td>
				<td>
					<input
						type="checkbox"
						:checked="role.hasPermission(permission, PermissionLevel.DELETE)"
						class="form-check-input"
						@change="role.togglePermission(permission, PermissionLevel.DELETE)"
					>
				</td>
			</tr>
		</tbody>
	</table>
	<PlaceholderPermissionsRoles v-else />
	<Pagination :manager="roleManager" :fetch="_fetch" />
</template>

<script setup lang="ts">
import { PermissionManager } from '~/class/Permission/Manager';
import { Permission } from '~/class/Permission/Permission';
import { RoleManager } from '~/class/Role/Manager';
import { Role } from '~/class/Role/Role';
import { PermissionLevel } from '~/types/permission';

const manager = PermissionManager.getInstance();
const roleManager = RoleManager.getInstance();
const roles = ref<Role[]>([]);
const permission = ref<Permission>();

Promise.all([
	roleManager.fetchPermissions(),
]).then(([_roles]) => {
	roles.value = _roles;
	permission.value = manager.permission;
});

async function _fetch(page: number) {
	await roleManager.fetch(page);
}

</script>